<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
    <link th:href="@{/tasks-stylesheet.css}" rel="stylesheet">
    <!--    bootstrap declaration-->

    <script src="https://kit.fontawesome.com/15cac81045.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topnav">
        <a th:href="@{/create}">Create</a>
        <a th:href="@{/list}" class="active">Task List</a>
    </div>

    <div class="container">
        <h2>Task List</h2>
        <table id="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created Date</th>
                    <th>Assigner</th>
                    <th>Assignee</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Content</th>
                    <th>Completed</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.createdDate}"></td>
                    <td th:text="${task.assigner}"></td>
                    <td th:text="${task.assignee}"></td>
                    <td th:text="${task.startDate}"></td>
                    <td th:text="${task.dueDate}"></td>
                    <td th:text="${task.content}"></td>

                    <td>
                        <a th:if="${task.completed == true}" class="fa-solid fa-check-circle fa-2x icon-green"
                           th:href="@{'/complete/' + ${task.id} + '/false'}"
                           title="Uncompleted this task"></a>

                        <a th:if="${task.completed == false}" class="fa-solid fa-circle fa-2x icon-dark"
                           th:href="@{'/complete/' + ${task.id} + '/true'}"
                           title="Completed this task"></a>
                    </td>

                    <td>
                        <a role="button" class="update" th:href="@{/delete/(id = ${task.id})}">Delete</a>
                        <a role="button" class="update" th:href="@{/create/(id = ${task.id})}">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>